<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title> Veterans </title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <a href="../public/scripts/veteran.js"></a>
<style> 

/* BASIC */

    .nav-item {
            -webkit-border-radius: 5px 5px 5px 5px;
            border-radius: 5px 5px 5px 5px;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
    }

    .nav-item:hover {
        background-color: lightgrey;
        color: white;
    }

    .backButton {
        background-color: grey;
        border: none;
        color: white;
        padding: 3px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        font-size: 20px;
        margin-right: 5%;
        /* This is only Web version */
        /* margin-right: 40%; */
        -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
        box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .backButton:hover {
        color: black;
    }

    .flex-row {
        padding-top: 1.5%;
    }

    .btn-lg {
        text-align: left;
        color: black;
    }

    .bus {
        padding: 15px 15px;
        text-align: center;
        display: inline-block;
        text-transform: uppercase;
    }
  
    .userBlu {
        color: #ffffff;
        background-color: #4c65e4;
        padding: 15px 15px;
        text-align: center;
        display: inline-block;
        text-transform: uppercase;
    }

    .userRed {
        color: #ffffff;
        background-color: #d93030;
        padding: 15px 15px;
        text-align: center;
        display: inline-block;
        text-transform: uppercase;
    }

    .userYell {
        background-color: #edd712;
        padding: 15px 15px;
        text-align: center;
        display: inline-block;
        text-transform: uppercase;
    }

    .userOra {
        background-color: #ff8329;
        padding: 15px 15px;
        text-align: center;
        display: inline-block;
        text-transform: uppercase;
    }

    .userPur {
        background-color: #a14ce4;
        padding: 15px 15px;
        text-align: center;
        display: inline-block;
        text-transform: uppercase;
    }

    .userGol {
        background-color: #f1ae00;
        padding: 15px 15px;
        text-align: center;
        display: inline-block;
        text-transform: uppercase;
    }

    .userSil {
        background-color: #9b9b9b;
        padding: 15px 15px;
        text-align: center;
        display: inline-block;
        text-transform: uppercase;
    }


    
    .medkitGre {
        color: #ffffff;
        background-color: #10880e;
        padding: 15px 15px;
        text-align: center;
        display: inline-block;
        text-transform: uppercase;
    }

    .medkitYel {
        background-color: #edd712;
        padding: 15px 15px;
        text-align: center;
        display: inline-block;
        text-transform: uppercase;
    }

</style>
</head>

<body>
  <!-- <script src="js/scripts.js"></script> -->

    <h1> Veterans </h1>
    <form class="form-inline" style="float: right;">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary my-2 my-sm-3" type="submit">Search</button>
    </form>
{{!-- {{> navigation }} --}}
{{!-- <nav class="navbar navbar-expand-md bg-light navbar-light">
    <a href="content.html" class="fadeIn backButton" role="button" aria-disabled="true"><span class="fa fa-caret-left"></span></a>
    <a class="navbar-brand" href="#">Veterans</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link" href="content.html">Book</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Export</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="Admin.html">Admin</a>
        </li>    
    </ul>
    </div>  
</nav> --}}

        <br>
        <table class="table">
            <thead>
                <tr class="table-active">
                    <th scope="col">NAME</th>
                    <th scope="col">GUARDIAN</th>
                    <th scope="col">BUS</th>
                    <th scope="col">TEAM</th>
                    <th scope="col">MED</th>
                </tr>
            </thead>
            {{#each veterans}}
            <tbody>
                <tr>
                    <th scope="row"><a href = "./veterans/{{this.veteran_id}}" class="btn mb-0 btn-lg">{{this.veteran_name}}</a></th>
                    <td class='yur'>{{this.guardian_name}}</td>
                    <td><i class="fa fa-bus bus"><p>{{this.bus_id}}</p></i></td>

                    {{#if this.how_heard}}
                        <td>{{this.how_heard}}</td>
                    {{else}}
                        <td>None</td>
                    {{/if}}

                    {{#if this.med_code}}
                        <td>{{this.med_code}}</td>
                    {{else}}
                        <td>None</td>
                    {{/if}}

                    {{!-- {{#ifCond this.med_code '==' "RED")}}
                        <td><i class="fa fa-user userRed"><p>{{this.med_code}}</p></i></td> --}}
                    {{!-- {{#elseif this.med_code == "BLUE"}}
                        <td><i class="fa fa-user userBlu"><p>{{this.med_code}}</p></i></td>
                    {{#elseif this.med_code == "YELLOW"}}
                        <td><i class="fa fa-user userYell"><p>{{this.med_code}}</p></i></td>
                    {{#elseif this.med_code == "GREEN"}}
                        <td><i class="fa fa-user userGre"><p>{{this.med_code}}</p></i></td>
                    {{#elseif this.med_code == "ORANGE"}}
                        <td><i class="fa fa-user userOra"><p>{{this.med_code}}</p></i></td> --}}
                    {{!-- {{else}}
                        <td>None</td> --}}
                    {{!-- {{/ifCond}} --}}
                </tr>
            </tbody>
            {{/each}}
        </table>
   
    <br>


    <a href="/api/veterans">fds</a>
</body>

</html>