<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <title> Veteran </title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style="background-color: #E5E5E5;">
  {{> navigation}}
  <div class="container">
    <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h2>{{ veteran.first_name }} {{ veteran.last_name }}
            {{#if veteran.nickname}}
              <span>"{{ veteran.nickname }}"</span>
            {{/if}}
          </h2>
          <h4>{{ veteran.service_branch }} ({{ veteran.service_years }})</h4> 
            <ul class="list-group">
              <li class="d-flex">
                <i class="fa fa-medkit medkit{{ veteran.med_code }}"><span class="ml-2">Med Code: {{ veteran.med_code }} </span></i>
                <i class="fa fa-user team{{ veteran.team_color }} ml-3"><span class="ml-2">Team: {{ veteran.team_color }} </span></i>
              </li> 
            </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
        <ul class="list-group">
          <li class="d-flex justify-content-between align-items-center mb-3">
            <h5>Comments</h5>
            <button class="btn btn-primary btn-sm rounded-0" type="button" data-toggle="tooltip" 
            data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
          </li>
          <p>{{ veteran.add_comments }}</p>
          <li class="d-flex justify-content-between align-items-center">
            <p>Alternate Contact Information: {{#if veteran.alt_name}} {{veteran.alt_name}} {{else if veteran.emergency_name }} {{veteran.emergency_name}} {{else}} None {{/if}}</p>
            <p>{{#if veteran.alt_phone}} {{veteran.alt_phone}} {{else if veteran.emergency_cell_phone }} (Cell) {{veteran.emergency_cell_phone}} {{else if veteran.emergency_day_phone }} (Day) {{veteran.emergency_day_phone}} {{else}} Contact Info Not Found {{/if}}</p>
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <p>Specific Guardian: {{#if veteran.add_specific_guardian}} {{veteran.add_specific_guardian}} {{else}} None {{/if}}</p>
          </li>
        </ul>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <h5 class="card-title list-group-item list-group-item-danger">Medical Information</h5>
        <div class="card-body ml-3">
          <li class="d-flex w-100 justify-content-between">
            <h5>Uses</h5>
              <p>
                <br>Cane: {{#if veteran.med_cane}} Yes. {{else}} No.{{/if}}
                <br>Walker: {{#if veteran.med_walker}} Yes. {{else}} No.{{/if}}
                <br>Pacemaker: {{#if veteran.med_pacemaker}} Yes. {{else}} No.{{/if}}
                <br>Scooter: {{#if veteran.med_scooter}} Yes. {{else}} No.{{/if}}
              </p>
          </li>
          <li class="d-flex w-100 justify-content-between">
            <h5>History</h5>
              <p>
                <br>Diabetes: {{#if veteran.Diabetes}} Yes. {{else}} No.{{/if}}
                <br>Empysema: {{#if veteran.med_emphysema}} Yes. {{else}} No.{{/if}}
                <br>Falls: {{#if veteran.med_falls}} Yes. {{else}} No.{{/if}}
                <br>Heart Disease: {{#if veteran.med_heart_disease}} Yes. {{else}} No.{{/if}}
                <br>Dementia: {{#if veteran.med_dimentia}} Yes. {{else}} No.{{/if}}
                <br>Stroke: {{#if veteran.med_stroke}} Yes. {{else}} No.{{/if}}
                <br>Urinary: {{#if veteran.med_urinary}} Yes. {{else}} No.{{/if}}
                <br>Urostomy: {{#if veteran.med_urostomy}} Yes. {{else}} No.{{/if}}
                <br>Seizures: {{#if veteran.med_seizures}} Yes. {{else}} No.{{/if}}
            </p>
          </li>  
          <li class="d-flex w-100 justify-content-between">
            <h5>Prescriptions (RX)</h5>
              {{#if veteran.med_list }}
              <br>{{ veteran.med_list }}
              {{else}}
              <br>None
              {{/if}}
          </li>  
          <li class="d-flex w-100 justify-content-between">
            <h5>Diet</h5>
              {{#if veteran.diet_restrictions }}
              <p>{{ veteran.diet_restrictions }}</p>
              {{else}}
              <p>None</p>
              {{/if}}
          </li>
          <li class="d-flex w-100 justify-content-between">
            <h5>Inform emergency respondsers of...</h5>
            <p>
              <br>Any Symptoms
              <br>Time of onset of symptoms
              <br>Any medications that have already been administered.
            </p>
          </li> 
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <li class="d-flex justify-content-between align-items-center mb-3">
            <h5 class="card-title">General</h5>
          </li>
          <li class="d-flex w-100 justify-content-between">
            <h5>Age</h5>
            <p>{{ veteran.age }}</p>
          </li>
          <li class="d-flex w-100 justify-content-between">
            <h5>DOB</h5>
            <p>{{ veteran.dob_month }}/{{ veteran.dob_day }}/{{ veteran.dob_year }}</p>
          </li>  
          <li class="d-flex w-100 justify-content-between">
            <h5>Guardian</h5>
            <p>{{ veteran.guardian_first_name }} {{ veteran.guardian_last_name }}</p>
          </li>  
          <li class="d-flex w-100 justify-content-between">
            <h5>Wheelchair</h5>
            {{#if veteran.med_wheelchair}}
            <br>Needs a Wheelchair
            <br>Chair Location: {{#if veteran.med_chair_loc}} {{veteran.med_chair_loc}}.{{else}}NO DATA{{/if}}
            {{else}}
            <br>Back-up
            {{/if}}
          </li>  
          <li class="d-flex w-100 justify-content-between">
            <h5>Needs</h5></br>
              <br>Oxygen: {{#if veteran.med_oxygen}} Yes. {{else}} No.{{/if}}
              <br>Nebulizer: {{#if veteran.med_nebulizer}} Yes. {{else}} No.{{/if}}
              <br>CPAP: {{#if veteran.med_cpap}} Yes. {{else}} No.{{/if}}
              <br>Can walk a Football Field?: {{#if veteran.med_football}} Yes. {{else}} No.{{/if}}
              <br>Can use Bus Steps?: {{#if veteran.med_walk_bus_steps}} Yes. {{else}} No.{{/if}}
          </li> 
          <li class="d-flex w-100 justify-content-between">
            <h5>Service</h5>
            <p>{{ veteran.service_branch }}</p>
          </li>   
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <li class="d-flex justify-content-between align-items-center mb-3">
            <h5 class="card-title">Hotel Room</h5>
            <button class="btn btn-primary btn-sm rounded-0" type="button" data-toggle="tooltip" 
              data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
          </li>
          <div class="card-body ml-3">
            <li class="d-flex w-100 justify-content-between">
              <h5>Veteran</h5>
              <p>[BUILD THIS]</p>
            </li>
            <li class="d-flex w-100 justify-content-between">
              <h5>Guardian</h5>
              <p>[BUILD THIS]</p>
            </li>   
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Guardian</h5>
          <div class="card-body ml-3">
            <li class="d-flex w-100 justify-content-between">
              <h5>Name</h5>
              <p>{{ veteran.guardian_first_name }} {{ veteran.guardian_last_name }}</p>
            </li>
            <li class="d-flex w-100 justify-content-between">
              <h5>Relationship</h5>
              <p>{{ veteran.guardian_relation }}</p>
            </li> 
            <li class="d-flex w-100 justify-content-between">
              <h5>DOB</h5>
              <p>{{ veteran.guardian_dob_month }}/{{ veteran.guardian_dob_day }}/{{ veteran.guardian_dob_year }}</p>
            </li> 
            <li class="d-flex w-100 justify-content-between">
              <h5>Phone</h5>
              {{#if veteran.guardian_cell_phone }}
              <p>(Cell) {{ veteran.guardian_cell_phone }}</p>
              {{else if veteran.guardian_day_phone }}
              <p>(Day) {{ veteran.guardian_day_phone }}</p>
              {{else}}
              <p>Not Found</p>
              {{/if}}
            </li>
            <li class="d-flex w-100 justify-content-between">
              <h5>Address</h5>
              <p>{{ veteran.guardian_address }} {{ veteran.guardian_city }}, {{ veteran.guardian_state }} {{ veteran.guardian_zip }}</p>
            </li>
            <li class="d-flex w-100 justify-content-between">
              <h5>Email</h5>
              {{#if veteran.guardian_email }}
              <p>{{ veteran.guardian_email }}</p>
              {{else}}
              <p>Not Found</p>
              {{/if}}
            </li>
            <li class="d-flex w-100 justify-content-between">
              <h5>Med Exp</h5>
              {{#if veteran.guardian_med_training }}
              <p>{{ veteran.guardian_med_training }}</p>
              {{else}}
              <p>None</p>
              {{/if}}
            </li>
            <li class="d-flex w-100 justify-content-between">
              <h5>Diet Restriction</h5>
              {{#if veteran.guardian_diet_restrictions }}
              <p>{{ veteran.guardian_diet_restrictions }}</p>
              {{else}}
              <p>None</p>
              {{/if}}
            </li>       
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row" style="margin-top: -15%;">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Contact</h5>
          <div class="card-body ml-3">
            <li class="d-flex w-100 justify-content-between">
              <h5>Phone</h5>
              {{#if veteran.cell_phone }}
              <p>{{ veteran.cell_phone }}</p>
              {{else}}
              <p>Not Found</p>
              {{/if}}
            </li>
            <li class="d-flex w-100 justify-content-between">
              <h5>Alt Phone</h5>
              {{#if veteran.day_phone }}
              <p>{{ veteran.day_phone }}</p>
              {{else}}
              <p>Not Found</p>
              {{/if}}
            </li> 
            <li class="d-flex w-100 justify-content-between">
              <h5>Address</h5>
              <p>{{ veteran.address }} {{ veteran.city }}, {{ veteran.state }} {{ veteran.zip }}</p>
            </li>   
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  {{!-- <script src="/scripts/veteran.js"></script> --}}
</body>
</html>